#btnlabel{
    display: block;
    padding: 10px 25px;
    text-align: center;
}
.btn{
    padding: 10px 15px;
    gap: 2vh;
    background-color: rgb(156, 139, 254);
    border: 1px solid black;
    border-radius: 5px;
    transform: backgroun-color(0.75);
}
.btn:hover{
    background-color: rgb(60, 26, 255) ;
}
.serol{
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;

}
.btncontainer{
    text-align: center;
}
.label{
    display: flex;
    align-items: center;
    justify-content: center;
}