*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    color: rgb(0, 255, 0);
}
.btn{
    border: none;
    background-color: rgb(133, 133, 133);
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
}